<div class="main">
    <div id="header" class="header page-section" ng-init="vm.init()">
        <header>
            <!--Header-->
            <div id="page-header-placeholder">
                <!--<div class="furniture-container">-->
                <!--<div class="content-container clearfix" id="furniture">-->
                <!--<section class="right">-->
                <!--<a href="#">Sign up</a>-->
                <!--<a href="#">Log in</a>-->
                <!--<div id="locale-chooser" class="chooser show" style="float: right">-->
                <!--<span class="cfui-flagorb site-icon cfus CFUS">&nbsp;</span>-->
                <!--<label>-->
                <!--<span class="codes">USD-$</span>-->
                <!--</label>-->
                <!--<span class="icon-down-triangle arrow"></span>-->
                <!--<span class="vege-burger">-->
                <!--<i class="icon-hamburger-01"></i>-->
                <!--</span>-->
                <!--</div>-->
                <!--</section>-->
                <!--</div>-->
                <!--</div>-->
            </div>

            <!--Logo-->
            <div id="header-container">
                <div class="logo-container" itemscope="" itemtype="http://schema.org/Organization">
                    <a href="/" class="logo anim" itemprop="url" title="Cheapflights.com" aria-label="Cheap Flights">
                        <span>Cheapflights</span><span class="plane"><span class="contrail"> </span></span>
                    </a>
                </div>
            </div>

        </header>

        <ul id="product-selector" data-hashnavigaton="True">
            <li class="product flights">
                <div class="selected">
                    <a href="/#/search" class="default-selected selected">
                        <span class="icon icon-plane-filled"></span>
                        <span class="text">Flights</span>
                    </a>
                </div>
            </li>
            <li class="product hotels">
                <div class="selected">
                    <a href="/#/searchInfo">
                        <span class="icon fa fa-search"></span>
                        <span class="text">Information</span>
                    </a>
                </div>
            </li>
        </ul>

        <div class="search-info">
            <button ng-click="vm.addFlight()" class="btn btn-primary btn-search">Thêm chuyến bay</button>
        </div>

        <div ng-if="vm.spinner">
            <div style="position:relative;">
                <span us-spinner="{top:'-100px', radius:30, width:8, length: 16}"></span>
            </div>
            <div style="text-align: center;margin-top: 200px;font-size: 20px; font-weight: 600">Đang tải danh sách
                chuyến bay ...
            </div>
        </div>

        <div ng-if="vm.list">
            <div class="form-list form-list-detail form-control" ng-repeat="row in vm.listPlaneData">
                <div class="form-list-header">
                    <a class="btn btn-default btn-danger elm-right" ng-click="vm.removeRow(row)"><span
                            class="glyphicon glyphicon-remove"></span> Remove</a>
                    <span class="elm-right">&nbsp</span>
                    <a class="btn btn-default btn-default elm-right" ng-click="vm.editRow(row)"><span
                            class="glyphicon glyphicon-pencil"></span> Edit</a>
                    <span class="elm-right">&nbsp</span>
                </div>
                <div class="form-list-header" style="margin-top: 10px">
                    <div class="col-md-12">
                        <label class="col-md-3 control-label">Mã chuyến bay</label>
                        <span class="col-md-3" ng-bind="row.id"></span>
                    </div>
                    <div class="col-md-12">
                        <label class="col-md-3 control-label">Nơi đi</label>
                        <span class="col-md-3" ng-bind="row.placeFrom.name"></span>
                    </div>
                    <div class="col-md-12">
                        <label class="col-md-3 control-label">Nơi đến</label>
                        <span class="col-md-3" ng-bind="row.placeTo.name"></span>
                    </div>
                    <div class="col-md-12">
                        <label class="col-md-3 control-label">Ngày đi</label>
                        <span class="col-md-3" ng-bind="row.datetime.date"></span>
                    </div>
                    <div class="col-md-12">
                        <label class="col-md-3 control-label">Hạng vé</label>
                        <span class="col-md-3" ng-bind="row.rank"></span>
                        <label class="col-md-3 control-label">Mức giá</label>
                        <span class="col-md-3" ng-bind="row.price"></span>
                    </div>
                    <div class="col-md-12">
                        <label class="col-md-3 control-label">Tổng lượng ghế</label>
                        <span class="col-md-3" ng-bind="row.totalSeat"></span>
                        <label class="col-md-3 control-label text-danger">Số ghế còn lại</label>
                        <span class="col-md-3 text-danger" ng-bind="row.amountSeat"></span>
                    </div>
                    <div class="col-md-12">
                        <label class="col-md-3 control-label">Giá vé</label>
                        <span class="col-md-3" ng-bind="row.cost + ' VND'"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
