<div class="main">
    <div id="header" class="header page-section">
        <header>
            <!--Header-->
            <div id="page-header-placeholder">
            </div>

            <!--Logo-->
            <div id="header-container">
                <div class="logo-container" itemscope="" itemtype="http://schema.org/Organization">
                    <a href="/" class="logo anim" itemprop="url" title="Cheapflights.com" aria-label="Cheap Flights">
                        <span>Cheapflights</span><span class="plane"><span class="contrail"> </span></span>
                    </a>
                </div>
            </div>

        </header>


        <ul id="product-selector" data-hashnavigaton="True">
            <li class="product flights">
                <div class="selected">
                    <a href="/#/search" class="default-selected selected">
                        <span class="icon icon-plane-filled"></span>
                        <span class="text">Flights</span>
                    </a>
                </div>
            </li>
            <li class="product hotels">
                <div class="selected">
                    <a href="/#/searchInfo">
                        <span class="icon fa fa-search"></span>
                        <span class="text">Information</span>
                    </a>
                </div>
            </li>
        </ul>

        <div ng-if="vm.spinner">
            <div style="position:relative;">
                <span us-spinner="{top:'-100px', radius:30, width:8, length: 16}"></span>
            </div>
            <div style="text-align: center;margin-top: 200px;font-size: 20px; font-weight: 600">Đang đặt chỗ ...</div>
        </div>

        <div ng-if="!vm.spinner">
            <div class="form-control form-confirm" ng-if="!vm.bookDetail">
                <span class="text-highlight">Đặt chỗ thất bại do không đủ số lượng ghế</span><br/>
                <span class="text-highlight">Xin quý khách vui lòng kiểm tra lại</span><br/>
                <a href="#" class="btn btn-default elm-left"><span class="glyphicon glyphicon-chevron-left"></span> Trở
                    về</a>
            </div>
            <div class="form-control form-confirm" ng-if="vm.bookDetail">
                <span>Chúc mừng quý khách đã đặt chỗ thành công</span><br/>
                <span>Mã đặt chỗ: <span class="text-highlight" ng-bind="vm.bookDetail.code"></span></span><br/>
                <a class="btn btn-primary btn-success elm-right" ng-click="vm.showDetail()"><span
                        class="glyphicon glyphicon-info-sign"></span> Xem lại</a>
                <a href="#" class="btn btn-default elm-left"><span class="glyphicon glyphicon-chevron-left"></span> Trở
                    về</a>
            </div>
        </div>
    </div>
</div>