<div class="main">
    <div id="header" class="header page-section">
        <header>
            <!--Header-->
            <div id="page-header-placeholder">
            </div>

            <!--Logo-->
            <div id="header-container">
                <div class="logo-container" itemscope="" itemtype="http://schema.org/Organization">
                    <a href="/" class="logo anim" itemprop="url" title="Cheapflights.com" aria-label="Cheap Flights">
                        <span>Cheapflights</span><span class="plane"><span class="contrail"> </span></span>
                    </a>
                </div>
            </div>

        </header>

        <ul id="product-selector" data-hashnavigaton="True">
            <li class="product flights">
                <div class="selected">
                    <a href="/#/search" class="default-selected selected">
                        <span class="icon icon-plane-filled"></span>
                        <span class="text">Flights</span>
                    </a>
                </div>
            </li>
            <li class="product hotels">
                <div class="selected">
                    <a href="/#/searchInfo">
                        <span class="icon fa fa-search"></span>
                        <span class="text">Information</span>
                    </a>
                </div>
            </li>
        </ul>


        <div class="form-group filter-header">
            <div class="input-group filter-zone">
                <span class="filter-places filter-place-from">
                    <span class="filter-font" ng-bind="vm.param.placeFrom.code"></span><br/>
                    <span class="font-color-white" ng-bind="vm.param.placeFrom.name"></span>
                </span>
                <span class="filter-arrow">
                    <i class="icon-left"></i>
                    <i class="icon-right"></i>
                </span>
                <span class="filter-places filter-place-to">
                    <span class="filter-font" ng-bind="vm.param.placeTo.code"></span><br/>
                    <span class="font-color-white" ng-bind="vm.param.placeTo.name"></span>
                </span>
                <span class="filter-places border-left">
                    <span class="filter-font">OUT</span><br/>
                    <span class="font-color-white" ng-bind="vm.param.datetimePlaneGo.date.toDateString()"></span>
                </span>
                <span class="filter-places border-left" style="padding-top: 23px">
                    <span class="fa fa-pencil filter-font"></span>
                    <a ng-click="vm.editSearch()" class="font-color-white">Modify Search</a>
                </span>
            </div>
        </div>

        <div ng-if="vm.spinner">
            <div style="position:relative;">
                <span us-spinner="{top:'-100px', radius:30, width:8, length: 16}"></span>
            </div>
            <div style="text-align: center;margin-top: 200px;font-size: 20px; font-weight: 600">Đang tìm kiếm danh sách
                chuyến bay ...
            </div>
        </div>

        <div ng-if="vm.list">
            <div class="form-list form-control" ng-repeat="row in vm.listPlaneData">
                <div class="form-list-header">
                    <a class="btn btn-default btn-primary elm-left" ng-bind="vm.getTicketclassString(row.ticketclass)"></a>
                    <span class="elm-left">&nbsp</span>
                    <a class="btn btn-default" ng-bind="row.flight.time"></a>
                    <!--<a class="btn btn-default" ng-bind="row.flight.time | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'"></a>-->
                    <a class="btn btn-default" ng-bind="row.price + ' VND'"></a>
                    <a class="btn btn-default btn-default elm-right" ng-click="vm.pickPlane(row)"><span
                            class="glyphicon glyphicon-info-sign"></span> Details</a>
                    <span class="elm-right">&nbsp</span>
                    <a class="btn btn-default btn-success elm-right">
                        <span class="glyphicon glyphicon-user"></span>
                        <span ng-bind="row.numSeatAvailable"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
