<div id="header" class="header page-section">
    <header>
        <!--Header-->
        <div id="page-header-placeholder">
            <!--<div class="furniture-container">-->
            <!--<div class="content-container clearfix" id="furniture">-->
            <!--<section class="right">-->
            <!--<a href="#">Sign up</a>-->
            <!--<a href="#">Log in</a>-->
            <!--<div id="locale-chooser" class="chooser show" style="float: right">-->
            <!--<span class="cfui-flagorb site-icon cfus CFUS">&nbsp;</span>-->
            <!--<label>-->
            <!--<span class="codes">USD-$</span>-->
            <!--</label>-->
            <!--<span class="icon-down-triangle arrow"></span>-->
            <!--<span class="vege-burger">-->
            <!--<i class="icon-hamburger-01"></i>-->
            <!--</span>-->
            <!--</div>-->
            <!--</section>-->
            <!--</div>-->
            <!--</div>-->
        </div>

        <!--Logo-->
        <div id="header-container">
            <div class="logo-container" itemscope="" itemtype="http://schema.org/Organization">
                <a href="/" class="logo anim" itemprop="url" title="Cheapflights.com" aria-label="Cheap Flights">
                    <span>Cheapflights</span><span class="plane"><span class="contrail"> </span></span>
                </a><span class="tag-line">Smart search. Made simple.</span>
            </div>
        </div>

    </header>

    <ul id="product-selector" data-hashnavigaton="True">
        <li class="product flights">
            <div class="selected">
                <a href="/" class="default-selected selected">
                    <span class="icon icon-plane-filled"></span>
                    <span class="text">Flights</span>
                </a>
            </div>
        </li>
    </ul>


    <div class="form-group filter-header">
        <div class="input-group filter-zone">
                <span class="filter-places filter-place-from">
                    <span class="filter-font">SGN</span><br/>
                    <span class="font-color-white">Ho Chi Minh City</span>
                </span>
            <span class="filter-arrow">
                    <i class="icon-left"></i>
                    <i class="icon-right"></i>
                </span>
            <span class="filter-places filter-place-to">
                    <span class="filter-font">SGN</span><br/>
                    <span class="font-color-white">Ho Chi Minh City</span>
                </span>
            <span class="filter-places border-left">
                    <span class="filter-font">OUT</span><br/>
                    <span class="font-color-white" ng-bind="vm.datetimePlane"></span>
                </span>
            <span class="filter-places border-left" style="padding-top: 23px">
                    <span class="fa fa-pencil filter-font"></span>
                    <a href="/" class="font-color-white">Modify Search</a>
                </span>
        </div>
    </div>

    <div ng-if="false">
        <div style="position:relative;">
            <span us-spinner="{top:'-100px', radius:30, width:8, length: 16}"></span>
        </div>
        <div style="text-align: center;margin-top: 200px;font-size: 20px; font-weight: 600">Đang tìm kiếm danh sách
            chuyến bay ...
        </div>
    </div>

    <div ng-if="true">
        <div class="form-list" ng-repeat="row in vm.listPlaneData">
            <div class="form-list-header">
                <a href="#" class="btn btn-default btn-primary elm-left" ng-bind="row.rank"></a>
                <span class="price" ng-bind="row.time"></span>
                <span class="price" ng-bind="row.cost + ' VND'"></span>
                <a href="#" class="btn btn-default btn-default elm-right" ng-click="vm.pickPlane(row)"><span
                        class="glyphicon glyphicon-info-sign"></span> Details</a>
                <a href="#" class="btn btn-default btn-success elm-right">
                    <span class="glyphicon glyphicon-user"></span>
                    <span ng-bind="row.amountSeat"></span>
                </a>
            </div>
        </div>
    </div>
</div>