<div class="main">
    <div id="header" class="header page-section" ng-init="vm.init()">
        <header>
            <!--Header-->
            <div id="page-header-placeholder">
            </div>

            <!--Logo-->
            <div id="header-container">
                <div class="logo-container" itemscope="" itemtype="http://schema.org/Organization">
                    <a href="/" class="logo anim" itemprop="url" title="Cheapflights.com" aria-label="Cheap Flights">
                        <span>Cheapflights</span><span class="plane"><span class="contrail"> </span></span>
                    </a>
                </div>
            </div>

        </header>

        <ul id="product-selector" data-hashnavigaton="True">
            <li class="product flights">
                <div class="selected">
                    <a href="/#/search" class="default-selected selected">
                        <span class="icon icon-plane-filled"></span>
                        <span class="text">Flights</span>
                    </a>
                </div>
            </li>
            <li class="product hotels">
                <div class="selected">
                    <a href="/#/searchInfo">
                        <span class="icon fa fa-search"></span>
                        <span class="text">Information</span>
                    </a>
                </div>
            </li>
        </ul>

        <div class="search-info">
            <input type="text" class="form-control" ng-model="vm.idBook" placeholder="Mã đặt chỗ">
            <button ng-click="vm.searchInfo()" class="btn btn-default btn-search" ng-disabled="!vm.idBook">Tìm kiếm</button>
        </div>
    </div>
</div>
