<div class="main">
    <div id="header" class="header page-section">
        <header>
            <!--Header-->
            <div id="page-header-placeholder">
                <!--<div class="furniture-container">-->
                <!--<div class="content-container clearfix" id="furniture">-->
                <!--<section class="right">-->
                <!--<a href="#">Sign up</a>-->
                <!--<a href="#">Log in</a>-->
                <!--<div id="locale-chooser" class="chooser show" style="float: right">-->
                <!--<span class="cfui-flagorb site-icon cfus CFUS">&nbsp;</span>-->
                <!--<label>-->
                <!--<span class="codes">USD-$</span>-->
                <!--</label>-->
                <!--<span class="icon-down-triangle arrow"></span>-->
                <!--<span class="vege-burger">-->
                <!--<i class="icon-hamburger-01"></i>-->
                <!--</span>-->
                <!--</div>-->
                <!--</section>-->
                <!--</div>-->
                <!--</div>-->
            </div>

            <!--Logo-->
            <div id="header-container">
                <div class="logo-container" itemscope="" itemtype="http://schema.org/Organization">
                    <a href="/" class="logo anim" itemprop="url" title="Cheapflights.com" aria-label="Cheap Flights">
                        <span>Cheapflights</span><span class="plane"><span class="contrail"> </span></span>
                    </a>
                </div>
            </div>

        </header>


        <ul id="product-selector" data-hashnavigaton="True">
            <li class="product flights">
                <div class="selected">
                    <a href="/#/search" class="default-selected selected">
                        <span class="icon icon-plane-filled"></span>
                        <span class="text">Flights</span>
                    </a>
                </div>
            </li>
            <li class="product hotels">
                <div class="selected">
                    <a href="/#/searchInfo">
                        <span class="icon fa fa-search"></span>
                        <span class="text">Information</span>
                    </a>
                </div>
            </li>
        </ul>

        <form name="searchForm" id="searchForm" class="form-search" ng-init="vm.init()">
            <section class="product-forms">
                <div class="content-container show" id="search-form">

                    <form class="cf-search-form mode-full">

                        <div class="group group-route">
                            <div class="search-place search-placeFrom"
                                 ng-class="{'has-error': (searchForm.placeFrom.$invalid && searchForm.placeFrom.$touched)}">

                                <ui-select ng-model="vm.search.placeFrom" theme="bootstrap" name="placeFrom" required>
                                    <ui-select-match allow-clear="true" data-placeholder="Sân bay đi">
                                        {{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="plane in vm.listFlight | filter: $select.search">
                                        <span ng-bind-html="plane.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>

                            <div id="returnOneWayIndicator" class="icon-arrow-search">
                                <span class="icon-arrow"></span>
                                <span class="icon-arrow reverse"></span>
                            </div>

                            <div class="search-place search-placeTo" style="float: right!important;"
                                 ng-class="{'has-error': (searchForm.placeTo.$invalid && searchForm.placeTo.$touched)}">

                                <ui-select ng-model="vm.search.placeTo" theme="bootstrap" name="placeTo" required>
                                    <ui-select-match allow-clear="true" data-placeholder="Sân bay đến">
                                        {{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="plane in vm.listFlight | filter: $select.search">
                                        <span ng-bind-html="plane.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>

                        <div class="group group-route">
                            <div class="field-datetime btn-height"
                                 ng-class="{'has-error': (searchForm.datetime.$invalid && searchForm.datetime.$touched)}">

                                <p class="input-group">
                                    <input type="text" name="datetimeGo" class="form-control"
                                           datetime-picker="MM/dd/yyyy HH:mm"
                                           ng-model="vm.search.datetimePlaneGo.date" is-open="vm.search.datetimePlaneGo.open"
                                           datepicker-options="vm.search.datetimePlaneGo.datepickerOptions"
                                           placeholder="Chọn thời gian đi" required/>
                                    <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.openCalendar(vm.search.datetimePlaneGo)">
                                    <i class="fa fa-calendar"></i>
                                 </button>
                             </span>
                                </p>
                            </div>

                            <div class="field-rank populated btn-height"
                                 ng-class="{'has-error': (searchForm.rank.$invalid && searchForm.rank.$touched)}">

                                <ui-select ng-model="vm.search.rankId" name="rank" theme="bootstrap" required>
                                    <ui-select-match allow-clear="true" data-placeholder="Hạng vé">
                                        {{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="rank.id as rank in vm.rankData | filter: $select.search">
                                        <span ng-bind-html="rank.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>

                            <div class="field-price populated btn-height"
                                 ng-class="{'has-error': (searchForm.price.$invalid && searchForm.price.$touched)}">

                                <ui-select ng-model="vm.search.priceId" theme="bootstrap" name="price" required>
                                    <ui-select-match allow-clear="true" data-placeholder="Mức giá">
                                        {{$select.selected.id}}
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="price.id as price in vm.priceData | filter: $select.search">
                                        <span ng-bind-html="price.id | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>

                            <div class="field-amount-seat populated btn-height"
                                 ng-class="{'has-error': (searchForm.amount.$invalid && searchForm.amount.$touched)}">

                                <ui-select ng-model="vm.search.amountSeat" theme="bootstrap" name="amount" required>
                                    <ui-select-match allow-clear="true" placeholder="Số lượng ghế">
                                        {{$select.selected}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="amount in vm.amountSeatData | filter: $select.search">
                                        <span ng-bind-html="amount | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>

                            <div class="field-datetime btn-height"
                                 ng-class="{'has-error': (searchForm.datetime.$invalid && searchForm.datetime.$touched)}">

                                <p class="input-group">
                                    <input type="text" name="datetimeBack" class="form-control"
                                           datetime-picker="MM/dd/yyyy HH:mm"
                                           ng-model="vm.search.datetimePlaneBack.date" is-open="vm.search.datetimePlaneBack.open"
                                           datepicker-options="vm.search.datetimePlaneBack.datepickerOptions"
                                           placeholder="Chọn thời gian về" required/>
                                    <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.openCalendar(vm.search.datetimePlaneBack)">
                                    <i class="fa fa-calendar"></i>
                                 </button>
                             </span>
                                </p>
                            </div>

                            <div class="field-datetime radio">
                                <label class="one-way"><input type="radio" name="optradio" checked="true">One way</label>
                                <label class="field-return"><input type="radio" name="optradio">Return</label>
                            </div>
                        </div>




                        <div class="group group-buttons">
                            <button type="submit" class="btn btn-success btn-black button-search" form="searchForm"
                                    ng-click="vm.submitForm()" ng-disabled="searchForm.$invalid">Search flights
                            </button>
                        </div>
                    </form>
                </div>
            </section>
        </form>
    </div>
</div>