<div class="form-group">
    <form name="$form" ng-submit="vm.ok($form)">
        <div class="modal-header">
            <button type="button" class="close" ng-click="vm.close()">
                <span aria-hidden="true">×</span>
            </button>
            <h3 class="modal-title" style="color: black">
                <span>Thông tin chi tiết vé chuyến bay</span>
            </h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12" ng-if="vm.selectedPlane.idBook">
                        <label class="col-md-3 control-label">Mã đặt chỗ</label>
                        <span class="col-md-3" ng-bind="vm.selectedPlane.idBook"></span>
                    </div>
                    <div class="col-md-12">
                        <label class="col-md-3 control-label">Mã chuyến bay</label>
                        <span class="col-md-3" ng-bind="vm.selectedPlane.code"></span>
                    </div>
                    <div class="col-md-12">
                        <label class="col-md-3 control-label">Nơi đi</label>
                        <span class="col-md-3" ng-bind="vm.selectedPlane.flight.startAirport.name"></span>
                    </div>
                    <div class="col-md-12">
                        <label class="col-md-3 control-label">Nơi đến</label>
                        <span class="col-md-3" ng-bind="vm.selectedPlane.flight.endAirport.name"></span>
                    </div>
                    <div class="col-md-12">
                        <label class="col-md-3 control-label">Ngày đi</label>
                        <span class="col-md-3" ng-bind="vm.selectedPlane.flight.time"></span>
                        <label class="col-md-3 control-label">Giờ đi</label>
                        <span class="col-md-3" ng-bind="vm.selectedPlane.flight.time"></span>
                    </div>
                    <div class="col-md-12">
                        <label class="col-md-3 control-label">Hạng vé</label>
                        <span class="col-md-3" ng-bind="vm.getTicketclassString(vm.selectedPlane.ticketclass)"></span>
                        <label class="col-md-3 control-label">Mức giá</label>
                        <!--<span class="col-md-3" ng-bind="vm.selectedPlane.price"></span>-->
                        <span class="col-md-3">E</span>
                    </div>
                    <div class="col-md-12">
                        <label class="col-md-3 control-label">Tổng lượng ghế</label>
                        <span class="col-md-3" ng-bind="vm.getTotalTicket(vm.selectedPlane.ticketclass)"></span>
                        <label class="col-md-3 control-label text-danger">Số ghế còn lại</label>
                        <span class="col-md-3 text-danger" ng-bind="vm.selectedPlane.numSeatAvailable"></span>
                    </div>
                    <div class="col-md-12">
                        <span class="col-md-3"></span>
                        <span class="col-md-3"></span>
                        <label class="col-md-3 control-label">Giá vé</label>
                        <span class="col-md-3" ng-bind="vm.selectedPlane.price + ' VND'"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-body modal-border">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <ui-select ng-disabled="vm.selectedPlane.disabledEdit" ng-model="vm.bookDetail.numSeatBook" ng-change="vm.createUser()" theme="bootstrap"
                                   name="amount" required>
                            <ui-select-match allow-clear="true" data-placeholder="Số lượng ghế" required>
                                {{$select.selected}}
                            </ui-select-match>
                            <ui-select-choices repeat="seat in vm.amountSeatData | filter: $select.search">
                                <span ng-bind-html="seat | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <span class="col-md-3"></span>
                    <div class="col-md-6">
                        <label class="col-md-6 control-label" style="padding-left: 0px">Tổng phí</label>
                        <mark class="col-md-6" ng-bind="vm.totalPrice + ' VND'" ng-if="vm.bookDetail.numSeatBook"></mark>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-body modal-border" ng-if="vm.bookDetail.numSeatBook">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <input type="text" class="form-control" ng-model="vm.bookDetail.customer.identityCode" placeholder="CMND" required>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" ng-model="vm.bookDetail.customer.name" placeholder="Họ Tên" required>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" ng-model="vm.bookDetail.customer.phone" placeholder="Số điện thoại">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default btn-sm" type="button" ng-click="vm.close()">Đóng</button>
            <button class="btn btn-success btn-sm" type="submit" ng-disabled="$form.$invalid || $form.$submitted" ng-hide="vm.selectedPlane.disabledEdit">
                Đặt vé
            </button>
        </div>
    </form>
</div>

