@media only screen and (max-width: 600px) {
  .filter-header {
    background: #2b303d;
    height: 70px;
    margin-top: 50px;
    zoom: 60%;
  }
}

@media only screen and (min-width: 600px) {
  .filter-header {
    background: #2b303d;
    height: 70px;
    margin-top: 50px;
  }
}

.filter-header .filter-zone {
  margin: auto;
  text-align: center;
  border-left: solid 1px #414551;
  border-right: solid 1px #414551;
}

.filter-header .filter-zone .filter-places {
  float: left;
  padding-top: 10px;
  height: 70px;

}

.filter-header .filter-zone .filter-place-from {
  margin-right: 10px;
  padding-left: 10px;
}

.filter-header .filter-zone .filter-place-to {
  padding-right: 10px;
}

.border-left {
  border-left: solid 1px #414551;
  padding-left: 10px;
  padding-right: 10px;
}

.filter-font {
  color: #ffd600;
  font-weight: 600;
  font-size: 20px;
}

.font-color-white {
  color: #fff;
}

.filter-arrow {
  float: left;
  margin-top: 20px;
  margin-right: 10px;
  color: #ffd600;
  font-size: 20px;
}

@media only screen and (max-width: 900px) {
  .form-list {
    background-position: -0px -0px;
    margin: auto;
    margin-top: 20px;
    width: 450px;
    height: 46px;
    zoom: 70%;
  }
  .form-list-detail {
    height: 250px!important;
  }
}

@media only screen and (min-width: 900px) {
  .form-list {
    background-position: -0px -0px;
    margin: auto;
    margin-top: 20px;
    width: 45%;
    height: 46px;
  }
  .form-list-detail {
    height: 250px!important;
  }
}

.form-list .form-list-header {
  background-position: -0px -0px;
  width: 100%;
  vertical-align: middle;
}

.elm-right {
  float: right;
}

.elm-left {
  float: left;
}

.form-list-header .price {
  float: left;
  border-right: solid 1px #ffd600;
  font-size: 21px;
  font-weight: 400;
  text-align: center;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.form-group {
  color: black !important;
}

.modal-border {
  border: solid 1px whitesmoke;
}

@media only screen and (min-width: 720px) {
  .form-confirm {
    margin-top: 50px !important;
    margin: auto;
    width: 50%;
    height: 88px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
  }
}

@media only screen and (max-width: 720px) {
  .form-confirm {
    margin-top: 50px !important;
    margin: auto;
    width: 300px;
    height: 110px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
  }
}

.text-highlight {
  color: red;
}

@media only screen and (min-width: 720px) {
  .search-place {
    width: 45.9375%;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 720px) {
  .search-place {
    width: 100%;
    margin-top: 10px;
  }
}

@media only screen and (min-width: 720px) {
  .search-placeFrom {
    float: left;
  }
}

@media only screen and (min-width: 720px) {
  .search-placeTo {
    float: right;
  }
}

.icon-arrow-search {
  margin-left: 13px;
}

.main {
  background: #ffc300!important;
  height: 100vh;
}

@media only screen and (max-width: 720px) {
  .search-info {
    margin: auto;
    width: 300px;
    margin-top: 50px;
  }
}

@media only screen and (min-width: 720px) {
  .search-info {
    margin: auto;
    width: 30%;
    margin-top: 50px;
  }
}

.btn-search {
  margin-top: 10px;
  width: 100%;
}

.form-search {
  margin-top: 50px;
}

.btn-black {
  color: #fff;
  border: 0px!important;
  background-color: #2B2B2B
}

.btn-height {
  height: 33px!important;
}

.margin-bot-small {
  margin-bottom: 10px;
}

.center-center {
  vertical-align: middle!important;
  padding-top: 2px;
}